<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Rock-Paper-Scissors</title>
		<link rel="stylesheet" href="css/style.css"></link>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
	</head>
	<body>
		<p class="app-name">Rock Paper Scissors</p>
		<div class="container-div" ng-app="game" ng-controller="gameController">
			<div class="contained player-div">
				<div class="player-stats">
					<img class="avatar player-avatar" src="img/player-avatar.png"></img>
					<div class="player-stats-text">
						<p class="name player-name">You</p>
						<p class="score player-score">Score: {{playerScore}}</p>
					</div>
				</div>
				<div class="player-throw-picker">
					<input type="button" class="throw-button rock chosen-transition"
					    ng-click="play('rock')"
						ng-class="{'chosen': checkPlayer('rock')}">
					<input type="button" class="throw-button paper chosen-transition"
					    ng-click="play('paper')"
						ng-class="{'chosen': checkPlayer('paper')}">
					<input type="button" class="throw-button scissors chosen-transition"
					    ng-click="play('scissors')"
						ng-class="{'chosen': checkPlayer('scissors')}">
				</div>
			</div>
			<div class="contained misc-div">
				<input type="button" class="reset-button" ng-click="resetScore()" value="Reset Score">
				<div class="win-banner">
					<p class="win-message">{{winMessage()}}</p>
				</div>
			</div>
			<div class="contained cpu-div">
				<div class="cpu-stats">
					<img class="avatar cpu-avatar" src="img/cpu-avatar.png"></img>
					<div class="cpu-stats-text">
						<p class="name cpu-name">CPU</p>
						<p class="score cpu-score">Score: {{cpuScore}}</p>
					</div>
				</div>
				<div class="cpu-throw-picker">
					<input type="button" class="throw-button disabled chosen-transition"
					    ng-class="{'question': checkCpu(''),
					               'rock': checkCpu('rock'),
								   'paper': checkCpu('paper'),
								   'scissors': checkCpu('scissors'),
								   'chosen': !checkCpu('')}">
				</div>
				<div class="radio-container">
					<p class="radio-text">What AI would you like to play against?</p>
					<input name="mode-picker" type="radio" ng-model="cpuMode" value="normal">Normal
					<input name="mode-picker" type="radio" ng-model="cpuMode" value="wimp">Wimp
					<input name="mode-picker" type="radio" ng-model="cpuMode" value="cheater">Cheater
				</div>
			</div>
			<br class="clear-br">
		</div>
		
		<p class="credits">Icons: Fist, Scissors, Hand by Cristiano Zoucas from the Noun Project</p>
		
		<script src="js/gameController.js"></script>
	</body>
</html>